body {
    background-color: #211E3A;
}

.main-window {
    text-align:     left;
    width:          700px;
    height:         450px;
    border-radius:  10px;
    margin:         auto;
    position:       relative;
    display:        block;
    top:            22vh;
}

.main-window header {
    background:     #e0e8f0;
    height:         30px;
    border-radius:  8px 8px 0 0;
    padding-left:   10px;
}

.btn {
    width:          12px;
    height:         12px;
    margin:         10px 4px 0 0;
    display:        inline-block;
    border-radius:  8px;
}

.btn.btn-red {
    background:     #e75448;
}

.btn.btn-yellow {
    background:     #e5c30f;
}

.btn.btn-green {
    background:     #3bb662;
}

#terminal {
    color:          white;
    font-family:    Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size:      11pt;
    background:     #30353a;
    padding:        10px;
    box-sizing:     border-box;
    position:       absolute;
    width:          100%;
    top:            30px;
    bottom:         0;
    overflow:       auto;
}

.green {
    color:          green;
}

.path {
    color:          #95F584;
}

.arrow {
    color:          #EC4891;
}

.command-input {
    outline-color:  #30353a;
    border:         none;
    display:        inline-block;
}

.dir {
    color:          #88DEF2;
}

.contact {
    list-style:     none;
    margin-left:    -30px;
}

.blue {
    color:          lightblue;
}

h4 {
    text-align:     center;
    color:          lightblue;
}